* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 16px;
  padding: 10px;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.row {
  clear: left;
  width: 100%;
}

.col {
  padding: 10px;
}

.content {
  height: 150px;
  border: solid;
  border-width: 2px;
  overflow: hidden;
  position: relative;
  background-color: #ccc;
}

h3 {
  padding-left: 15px;
}

p { 
  padding-left: 15px;
}

h4 {
  width: 120px;
  border: solid;
  padding: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -2px;
  margin-right: -2px;
  border-width: 2px;
  text-align: center;
}

div > div > p {
  padding: 15px;
  margin-top: 25px;
  clear: right;
  overflow: hidden;
}

#chicken {
  background-color: #F4BA70;
}

#beef {
  background-color: #FF6347;
}

#sushi {
  background-color: #FFFFCC;
}

footer {
  clear: left;
  height: 50px;
  padding-top: 16px;
  background-color: #999;
}

p#footer {
  text-align: center;
  vertical-align: middle;
}

/***************************/

@media (min-width: 992px) {
  .row {
    margin-left: 1%;
    overflow: hidden;
  }
  .col-lg {
    width: 33%;
    float: left;
  }
}

/***************************/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 50%;
    float: left;
    overflow: hidden;
  }
  .col-md-2 {
    clear: left;
    margin-top: 10px;
  }
}

/***************************/

@media (max-width: 767px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
